<section>
  <h1>QR Check In Server</h1>
  <p>Duis faucibus euismod arcu ac consequat. Fusce sagittis ligula ut risus
  viverra, sed aliquam metus ullamcorper. Integer ultrices lorem vel risus
  fermentum faucibus. Curabitur risus nibh, imperdiet quis efficitur nec,
  lobortis ac massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Aliquam accumsan posuere bibendum. Donec placerat dignissim velit nec tempus.
  Aenean cursus tellus lorem, vel egestas neque blandit quis.</p>
</section>
