<section>
  <div class="page-header">
    <h1>Valid Log In QR Code</h1>
  </div>
  <div class="row">
    <div class="span12">
      <p>This is the QR code to log into the server using the QR Check In phone app.</p>
      <p><img src="/get_valid_login"/></p>
      <p>You can also manually log in using the following details which are encoded in the QR code:</p>
      <ul>
        <li><strong>Check In Endpoint:</strong> <%= @endpoint %></li>
        <li><strong>API Key:</strong> <%= @api_key %></li>
      </ul>
    </div>
  </div>
</section>
